html,

* {
  font-family: 'Noto Sans JP', sans-serif;
  background-color:rgb(255, 204, 51)
}

.ok {
  background-color:rgb(92, 184, 255) ;
}

#nnn {
  background-color: rgb(201, 112, 100);
}

h1{
  background-color:rgb(92, 184, 255) ;

}

body {
  height: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.center {
  text-align: center;
}

.site-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border: 5px;
  color: rgb(0, 0, 0);
  background: rgb(255, 204, 51);

  padding: 0 0.25rem;
}

.linha {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  }

.pan{
  padding-left: 200px;
}



#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}














.tab{
  margin-left: 20px;
}
.site-content {
  flex: 1;
  padding: 10%;
  background-color: rgb(92, 184, 255);
}

.caixa {
  margin-left: 100px;
  padding: 20px;
  background-color: rgb(201, 112, 100);
  margin: 100px;
  max-width: 350px;
  float: right;
  margin: 50px;
  border-color: rgb(71, 73, 84);
  border: 2px solid;
  text-align: center;

}

.site-footer {
  background: rgb(255, 204, 51);
  padding: 10%;
}

.footer-first{
  float: left;
  text-align: center;
}
.footer-second{
  float: right;
}
.footer-first{
  padding-right: 10%;
}

